/* option:default{
	color: red;
} */

/* :default{
	transform: scale(1.5);
} */

/* option:default{
	color: red;
} */
.wrapper{
	display: block;
	position: relative;
	width: 150px;
	height: 200px;
	box-shadow:2px 2px 5px #bbb,-2px -2px 5px #ddd;
	border: 1px solid #ccc;
	margin: auto;
}
input:default+label::after{
	content: " (推荐)";
}