/* 1.元素尺寸和位置不是整数时会出现虚化的边框
2.当opacity不为1时会出现虚化的边框 */
/* .ele{
	display: inline-block;
	width: 40px;
	height: 40px;
	border: 1px solid #000;
	transform: translate(0.5px,0);
	border-radius: 50%;
	opacity: 0.6;
} */

.box{
	width: fit-content;
	padding: 20px;
	background-color: #34538b;
	color: #fff;
}
.box > span{
	display: inline-block;
	width: 40px;
	height: 40px;
	border: 1px solid #fff;
	transform: translate(0.5px,0);
	border-radius: 50%;
	vertical-align: top;
}

.ele-problem{
	opacity: .6;
}
.ele-fixed{
	color: hsla(0, 0%, 100%, .6)
}