/* div{
	width: 100px;
	height: 75px;
	background-color: red;
	border: 1px solid black;
} */
/* div#div2{	 */
	/* 横轴为X轴，竖轴Y轴，正面为Z轴*/
	/* transform: rotateX(90deg);  顺时针旋转*/          
	/* transform: rotateY(60deg);  逆时针旋转*/
	/* transform: rotateZ(60deg);  顺时针旋转*/
/* } */
/* div#div2{	
	transform-origin: left top;
	transform: rotateZ(60deg);
} */

/* todo学习transform-style: preserve-3d; */
/* #div1{
	position: relative;
	height: 200px;
	width: 200px;
	margin: 100px;
	padding: 10px;
	border: 1px solid black;
}
#div2{
	padding: 50px;
	position: absolute;
	border: 1px solid black;
	background-color: red;
	transform: rotateY(60deg);
	transform-style: preserve-3d;
}
#div3{
	padding: 40px;
	position: absolute;
	border: 1px solid black;
	background-color: yellow;
	transform: rotateY(-60deg);
}
 */
/* 通过translateZ来理解perspective */
/* #div1{
	position: relative;
	height: 150px;
	width: 150px;
	margin: 50px;
	padding: 10px;
	border: 1px solid black;
	perspective: 150px;
}
#div2{
	padding: 50px;
	position: absolute;
	border: 1px solid black;
	background-color: red;
	transform: translateZ(100px);
} */


/* perspective两种书写方式的区别 */
/* 1.第一种是将整个画布作为透视元素，所有距离不同的DIV具有不同的透视效果 */
.stage_area{
	margin: 0 auto;
	margin-top: 200px;
	background-color: #f0f0f0;
	box-shadow: inset 0 0 3px rgba(0, 0, 0, .35);
	display: flex;
	width: 1200px;
}
.piece{
	width: 100px;
	height: 100px;
	margin: 20px;
	transform: rotateY(45deg);
}