/* 左边固定右边自适应 */
/* {
	.elem{
		border: 3px solid #6ac5ac;
		position: relative;
	}
	.elem-pink{
		border-color: #d64078;
	}
	.elem-orange{
		border-color: #fdc72f;
	}
	.elem-green{
		border-color: #96c02e;
	}
	.label,.endlabel{
		position: absolute;
		background-color: #6ac5ac;
		color: #414142;
		line-height: 1em;
	}
	.label{
		top: 0;
		left: 0;
		padding: 0 3px 3px 0;
	}
	.endlabel{
		bottom: 0;
		right: 0;
		padding: 3px 0 0 3px;
	}
	.container{
		position: relative;
	}
	nav.elem{
		position: absolute;
		width: 200px;
		left: 0;
	}
	section.elem{
		margin-left: 200px;
	}
	footer.elem{
		position: fixed;
		bottom: 0;
		left: 0;
		height: 70px;
		background-color: white;
		width: 100%;
	}
	body{
		margin-bottom: 120px;
	}
	*{
		box-sizing: border-box;
	}
	nav .label,nav .endlabel{
		background-color: #d64078;
	}
	footer .label,footer .endlabel{
		background-color: #96c02e;
	}
	section .label,section .endlabel{
		background-color: #fdc72f;
	}
} */
.elem{
	border: 3px solid #6ac5ac;
	position: relative;
}
.elem-pink{
	border-color: #d64078;
}
.elem-orange{
	border-color: #fdc72f;
}
.elem-green{
	border-color: #96c02e;
}
.label,.endlabel{
	position: absolute;
	background-color: #6ac5ac;
	color: #414142;
	line-height: 1em;
}
.label{
	top: 0;
	left: 0;
	padding: 0 3px 3px 0;
}
.endlabel{
	bottom: 0;
	right: 0;
	padding: 3px 0 0 3px;
}
nav .label,nav .endlabel{
	background-color: #d64078;
}
section .label,section .endlabel{
	background-color: #fdc72f;
}
code{
	background-color: #eee;
}
.elem p {
    padding: 0 1em;
}
p {
    margin: 1em 0;
}
.clearfix{
	overflow: hidden;
}
*{
	box-sizing: border-box;
}
/* float实现文字环绕图片布局 */
/* .container{
	margin: auto;
	width: 500px;
}
img{
	float: right;
	margin: 0 0 1em 1em;
}
p.text{
	background-color: #eee;
} */

/* 清除浮动练习 */
/* section .label,section .endlabel{
	background-color: #fdc72f;
}
.box{
	float: left;
	width: 200px;
	height: 100px;
	margin: 1em;
}
.after-box{
	clear: left;
} */
/* 处理浮动中图片位置超过div容器大小 */
/* .container{
	max-width: 600px;
	margin: 1em auto;
}
img{
	float: right;
	max-width: 100%;
} */
/* 浮动布局实现左边固定，右边自适应布局 */
/* nav.elem{
	float: left;
	width: 200px;
}
section.elem{
	margin-left: 200px;
}
nav .label,nav .endlabel{
	background-color: #d64078;
}
section .label,section .endlabel{
	background-color: #fdc72f;
}

 */
/* 使用百分比宽度实现图片自适应 */
/* article.elem{
	width: 600px;
	margin: auto;
}
article .label,article .endlabel{
	background-color: #fdc72f;
}
article img{
	float: right;
	width: 50%;
	max-width: 100%;
} */
/* 使用百分比宽度来实现nav布局 */
/* nav {
	width: 25%;
	float: left;
}
section{
	margin-left: 25%;
} */
/* 使用媒体查询来实现自适应 */
/* @media screen and (min-width: 600px){
	nav{
		float: left;
		width: 25%;
	}
	section {
		margin-left: 25%
	}
}

@media screen  and (max-width: 599px){
	nav li {
		display: inline-block;
	}
} */

/* 使用float实现自适应盒子 */
/* .box{
	float: left;
	width: 200px;
	height: 100px;
	margin: 1em;
}
.after-box{
	clear: left;
}
.after-box .label,.after-box .endlabel{
	background-color: #fdc72f;
} */
/* 使用inline-bloc实现自适应 */
/* .box{
	display: inline-block;
	width: 200px;
	height: 100px;
	margin: 1em;
}
.after-box .label,.after-box .endlabel{
	background-color: #fdc72f;
}
 */
/* 使用inline-block实现自适应布局 */
/* nav{
	display: inline-block;
	width: 25%;
}
.column{
	display: inline-block;
	width: 74%;
	vertical-align: top;
}
.column>.label,.column >.endlabel{
	background-color: #d64078;
	vertical-align: top;
} */
/* 使用column来实现文字布局 */
/* .three-column{
	padding: 1em;
	margin: auto;
	width: 600px;
	column-count: 3;
	column-gap: 1em;
} */
/* 使用flex进行布局 */
/* .container{
	display: flex;
}
nav{
	width: 200px;
}
.flex{
	flex: 1;
} */
/* 使用flex属性进行弹性盒子列比例控制 */
/* .container .label,.container .endlabel{
	background-color: #fdc72f;
}
.container{
	display: flex;
}
.initial{
	width: 200px;
	min-width: 100px;
}
.none{
	width: 200px;
	flex: none;
}
.flex1{
	flex: 1;
}
.flex2{
	flex: 2;
} */